.btn{
  &-m{
    font-size: 1.6rem;
  }
  &-extract{
    display:inline-block;
    color: #000000;
    background-color: white;
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1.6rem;
    margin-top: 2rem;
    text-transform: uppercase;

  }

  &-proceed{
    display: inline-block;
//    width: 30rem;
    padding: 1rem;
    text-transform: uppercase;
    border: 1px solid blue;
    background-color: white;
//    margin: 2rem auto;

    &:hover{
      background-color: blue;
      color: white;
    }
  }

  &-table{
    font-size: $default-font;
    display: block;
    border: 1px solid black;
    width: 15rem;
    margin: 0 auto;
    padding: 1rem;
    border-radius: .5rem;

    &:hover{
      background-color:#1b1e21 ;
      color: white;
    }
  }
}